/* Tema claro */
.light {
  --bg: #f9fafb;
  --text: #111827;
  --card: #ffffff;
  --accent: #6366f1;
}

/* Tema oscuro */
.dark {
  --bg: #020617;
  --text: #e5e7eb;
  --card: #0f172a;
  --accent: #8b5cf6;
}

/* Aplicación global */
body {
  background-color: var(--bg);
  color: var(--text);
  transition:
    background-color 0.35s ease,
    color 0.35s ease;
}


* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}



.card {
  background-color: var(--card);
  transition: background-color 0.35s ease;
}
